footer
  .container
    .footer-block
      .footer-left
        p DREAMSHARE
      .footer-center
        p Company
        .main
          ul
            li
              a(href='') About
            li
              a(href='') Contact
            li
              a(href='') Press
            li
              a(href='') Blog
            li
              a(href='') Terms and Privacy
            li
              a(href='') Help
      .footer-center-two
        p Partners
      .footer-right
        p DESIGNED BY
        a(href='@')
          img(src='./images/Bitmap.png', alt='ARETO')
