header
  .container
    .header
      .logo
        a(href='') DREAMSHARE
      .log-in
        a(href='#') Log in
        input.sign-up(type='button', value='Sign up')
    .first
      .screen
        h1 SHARE YOUR HOLIDAY DREAM
        p And find the perfect partner to fullfill it
        input.button(type='button', value='Find your holiday partner')
